{
  "root": true,
  "extends": ["airbnb", "plugin:prettier/recommended", "prettier/flowtype", "prettier/react"],
  "parser": "babel-eslint",
  "plugins": ["flowtype", "prettier"],
  "env": {
    "es6": true,
    "node": true,
    "shelljs": true,
    "jest": true
  },
  "rules": {
    "no-new": 0,
    "no-continue": 0,
    "no-extend-native": 0,
    "import/no-dynamic-require": 0,
    "global-require": "off",
    "class-methods-use-this": 0,
    "no-console": 1,
    "no-plusplus": 0,
    "no-undef": 0,
    "no-underscore-dangle": "off",
    "no-use-before-define": 0,
    "react/forbid-prop-types": "warn",
    "react/jsx-filename-extension": ["off", { "extensions": [".js", ".jsx"] }],
    "import/no-cycle": 1,
    "import/no-unresolved": 0
  },
  "globals": {
    "__DEV__": true,
    "__RNFB__": true,
    "window": true
  }
}
