{
  "arrowParens": "avoid",
  "trailingComma": "all",
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "tabWidth": 2,
  "printWidth": 100,
  "overrides": [{
    "files": [
      "**/packages/**/*.js"
    ],
    "options": {
      "parser": "babel",
      "trailingComma": "all"
    }
  }]
}
