<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  android:installLocation="auto"
  package="com.invertase.testing">

  <uses-permission android:name="android.permission.INTERNET" />

  <application
    android:name=".MainApplication"
    android:allowBackup="false"
    android:icon="@drawable/ic_launcher"
    android:label="@string/app_name"
    android:launchMode="singleTask"
    android:theme="@style/AppTheme"
    tools:targetApi="m">
    <meta-data android:name="rnfirebase_meta_testing_string" android:value="abc" />
    <meta-data android:name="rnfirebase_meta_testing_boolean_false" android:value="false" />
    <meta-data android:name="rnfirebase_meta_testing_boolean_true" android:value="true" />

    <activity
      android:name=".MainActivity"
      android:label="@string/app_name"
      android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
      android:exported="true"
      android:launchMode="singleTask"
      android:windowSoftInputMode="adjustResize">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <!-- Dynamic DynamicLinks Test -->
      <intent-filter android:autoVerify="true">
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data
          android:host="reactnativefirebase.page.link"
          android:scheme="https" />
      </intent-filter>
    </activity>
  </application>
</manifest>
