{
  "presets": ["module:@react-native/babel-preset"],
  "plugins": [
    [
      "istanbul",
      {
        "cwd": "..",
        "instrument": true,
        "relativePath": true,
        "include": ["**/packages/**"],
        "useInlineSourceMaps": false
      }
    ]
  ]
}
