rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isUpdateToLikeCount(attr) {
      return request.resource.data.diff(resource.data).affectedKeys().hasOnly(['likes']);
    }

    allow update: if isUpdateToLikeCount(request.resource.data);
  
    match /firebasePerfTest/{document=**} {
      allow read: if true;
    }
  
    match /firestore-example-app/{document=**} {
      allow read, write: if true;
    }
  
    match /{document=**} {
      allow read, write: if false;
    }
    match /v6/{document=**} {
      allow read, write: if true;
    }
    
    match /flutter-tests/{document=**} {
      allow read, write: if true;
    }
    
    match /playground/{document=**} {
      allow read, write: if true;
    }
    
    match /{path=**}/playground/{doc} {
      allow read, write: if true;
    }
    
    match /{path=**}/collectionGroup/{documentId} {
      allow read, write: if true;
    }
    match /issue2854/{document=**} {
      allow read, write: if true;
    }
    
    match /random/{document=**} {
      allow read;
    }
    match /collection-tests/{document=**} {
      allow read, write: if true;
    }
    match /document-tests/{document=**} {
      allow read, write: if true;
    }
    match /tests/{document=**} {
      allow read, write: if true;
    }
    match /tests1/{document=**} {
      allow read, write: if true;
    }
    match /tests2/{document=**} {
      allow read, write: if true;
    }
    match /tests3/{document=**} {
      allow read, write: if true;
    }
    match /tests4/{document=**} {
      allow read, write: if true;
    }
    match /tests5/{document=**} {
      allow read, write: if true;
    }
    match /tests6/{document=**} {
      allow read, write: if true;
    }
    match /tests7/{document=**} {
      allow read, write: if true;
    }
    match /tests8/{document=**} {
      allow read, write: if true;
    }
    match /tests9/{document=**} {
      allow read, write: if true;
    }
    match /tests10/{document=**} {
      allow read, write: if true;
    }
    match /tests11/{document=**} {
      allow read, write: if true;
    }
    match /tests12/{document=**} {
      allow read, write: if true;
    }
    match /tests13/{document=**} {
      allow read, write: if true;
    }
    match /tests14/{document=**} {
      allow read, write: if true;
    }
    match /tests15/{document=**} {
      allow read, write: if true;
    }
    match /tests16/{document=**} {
      allow read, write: if true;
    }
    match /tests17/{document=**} {
      allow read, write: if true;
    }
    match /tests18/{document=**} {
      allow read, write: if true;
    }
    match /tests19/{document=**} {
      allow read, write: if true;
    }
    match /tests20/{document=**} {
      allow read, write: if true;
    }
    match /tests21/{document=**} {
      allow read, write: if true;
    }
    match /tests22/{document=**} {
      allow read, write: if true;
    }
    match /tests23/{document=**} {
      allow read, write: if true;
    }
    match /tests24/{document=**} {
      allow read, write: if true;
    }
    match /tests25/{document=**} {
      allow read, write: if true;
    }
    match /tests26/{document=**} {
      allow read, write: if true;
    }
    match /tests27/{document=**} {
      allow read, write: if true;
    }
    match /tests28/{document=**} {
      allow read, write: if true;
    }
    match /tests29/{document=**} {
      allow read, write: if true;
    }
    match /tests30/{document=**} {
      allow read, write: if true;
    }
    match /tests31/{document=**} {
      allow read, write: if true;
    }
    match /flutter-tests/{document=**} {
      allow read, write: if true;
    }
    match /blob-tests/{document=**} {
      allow read, write: if true;
    }
  }
}
