<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.invertase.firebase">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>
