name: Publish

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  publish_npm:
    if: "(github.repository == 'invertase/react-native-firebase') && (github.event_name == 'workflow_dispatch')"
    name: 'NPM'
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: 'master'
          fetch-depth: 0
      - name: Yarn Install
        uses: nick-invision/retry@v1
        with:
          timeout_minutes: 10
          retry_wait_seconds: 60
          max_attempts: 3
          command: yarn --no-audit --prefer-offline
      - name: GIT Setup
        run: |
          git config --global user.name '@Salakar'
          git config --global user.email 'Salakar@users.noreply.github.com'
          git remote set-url origin git@github.com:$GITHUB_REPOSITORY
      - uses: webfactory/ssh-agent@v0.4.1
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: Publish Packages
        run: |
          yarn logout
          echo "@react-native-firebase:registry=http://registry.npmjs.org/" > ~/.npmrc
          echo "registry=http://registry.npmjs.org/" >> ~/.npmrc
          echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
          npm whoami
          git diff --exit-code
          yarn lerna changed
          yarn lerna version --yes --force-publish=*
          yarn lerna publish from-package --yes
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
