name: Publish

on:
  workflow_dispatch:

jobs:
  publish_npm:
    if: "(github.repository == 'invertase/react-native-firebase') && (github.event_name == 'workflow_dispatch')"
    name: 'NPM'
    timeout-minutes: 30
    runs-on: ubuntu-latest
    permissions:
      id-token: write # enables OIDC for npmjs.com "Trusted Publisher" and provenance
      contents: read
    steps:
      - uses: actions/checkout@v6
        with:
          ref: 'main'
          fetch-depth: 0
          # Repository admin required to evade PR+checks branch protection
          token: ${{ secrets.GH_TOKEN }}
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
          registry-url: 'https://registry.npmjs.org'
      - name: Install latest NPM
        # OIDC publishing requires a very up to date npm version
        run: |
          npm --version
          npm install -g npm@latest
          npm --version
      - name: Yarn Install
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 15
          retry_wait_seconds: 60
          max_attempts: 3
          command: yarn
      - name: GIT Setup
        # Alter branding of release commit, despite GITHUB_TOKEN having real owner
        run: |
          git config --global user.name 'Invertase Publisher'
          git config --global user.email 'oss@invertase.io'
      - name: Publish Packages
        run: |
          npx envinfo
          echo "Verifying working directory is clean..."
          git diff --exit-code
          echo "Displaying any current changes..."
          if yarn lerna changed; then
            echo "Changes detected, bumping versions..."
            yarn lerna version --yes --force-publish=*
          else
            echo "No changes detected, no versions bumped."
          fi
          echo "Syncing unpublished versions with package registry..."
          yarn lerna publish from-package --yes --loglevel trace
        env:
          # No NPM token needed, all of the packages have been configured
          # on npmjs.com with this workflow file as an OIDC "Trusted Publisher"
          # As of 20251208 tokenless OIDC Trusted Publish is not working.
          # Unable to conclusively fix, using token for now. Expires 20250308
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          #
          # org admin Github Token required for the changelog/tag commit+push
          # to work via an exception to branch protection rules
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
